.contact-details {
  padding: 4em 8em;
  background-color: var(--primary-background);
  text-align: center;
  min-height: 100vh;
}

.about-me {
  margin: 0 1em;
}

.profile-photo {
  width: 15em;
}

.grid {
  display: grid; 
  grid-template-columns: 1fr 2fr;
}