#contactDetails {
  padding: 4em 8em;
  background-color: var(--primary-background);
  text-align: center;
  min-height: 100vh;
}

img {
  width: 100%;
  padding: 1em;
  max-width: 10em;
  display: block;
  position: relative;
  width: 100%;
}

.email {
  margin-top: 2em;
  font-size: 1.7em;
}
.socialItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3em;
  width: 70%;
  margin: auto;
}
.socialItem {
  position: relative;
  width: 100%;
}
.socialItem .text {
  overflow: hidden;
  height: 1em;
}
.socialItem img {
  transition: all .3s;
}
.socialItem img:hover {
  transform: scale(1.1) rotate(5deg);
  -webkit-transform: scale(1.1) rotate(5deg);
  box-shadow: 0 0 70px 0px var(--contrast);
}

.content {
  height: 100vh;
}